#sidebar {
  width: 330px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  border-radius: 24px 0 0;
  position: fixed;
  z-index: 99;
  right: -400px;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  transition: right 0.3s ease-out;
}

#sidebar.active {
  right: 0;
}

#sidebar-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: -10px;
  z-index: 11;
  backdrop-filter: brightness(60%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar-header {
  padding: 26px 0;
  cursor: pointer;
}

#sidebar .app-name {
  display: flex;
  justify-content: center;
  color: var(--text);
}

#sidebar .app-name span {
  color: var(--secondary);
  margin-right: 5px;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 0px 18px 8px;
}

#sidebar li {
  list-style: none;
  color: var(--text);
  font-weight: 500;
  padding: 15px 12px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#sidebar li:hover {
  background-color: var(--hover);
}

#sidebar li span.nm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sidebar li svg {
  width: 25px;
  margin-right: 15px;
  margin-left: -3px;
  fill: var(--text);
}

#sidebar li i {
  font-size: 20px;
  margin-right: 15px;
}

.sidebar-tasks {
  justify-content: space-between;
  position: relative;
}

#sidebar .sidebar-tasks svg {
  width: 23px;
}

#sidebar .task-count {
  background-color: var(--secondary-min2);
  color: var(--secondary);
  font-weight: 600;
  font-size: 13px;
  height: 23px;
  width: 30px;
  border-radius: 13px;
  align-items: center;
  justify-content: center;
  display: none; /*flex*/
}

.sidebar-tooltip {
  background-color: #f0f0f0;
  color: var(--text);
  font-weight: 400;
  letter-spacing: normal;
  font-size: 12px;
  position: absolute;
  bottom: -30px;
  right: -17px;
  padding: 8px 14px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
}

#sidebar .task-count:hover .sidebar-tooltip {
  opacity: 1;
}

.sidebar-purge {
  margin-left: -2px;
}

.sidebar-github i {
  transition: transform 0.25s ease;
}

.sidebar-github:hover i {
  transform: rotateY(360deg);
}

.sidebar-issue i {
  transition: transform 0.25s ease;
}

.sidebar-issue:hover i {
  transform: rotate(30deg) scale(0.9);
}

.sidebar-install svg{
  width: 22px !important;
}

.sidebar-logout {
  color: red!important;
}

.sidebar-space {
  flex: 1;
}

.sidebar-settings {
  margin-top: 8px;
  background-color: rgb(16, 23, 39);
  color: rgb(240, 240, 240) !important;
  padding: 17px 12px !important;
}

.sidebar-settings:hover {
  background-color: rgba(16, 23, 39, 0.698) !important;
}

.sidebar-settings i {
  transition: transform 0.5s ease;
}

.sidebar-settings:hover i {
  transform: rotate(180deg);
}

.sidebar-user {
  background-color: var(--bg3);
  margin: 5px 0;
}

.sidebar-user:hover {
  background-color: var(--bg3-min7) !important;
}

.sidebar-user div{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  background-color: var(--bg1);
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.sidebar-user div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar-user .letter {
  font-size: 25px;
}

.sidebar-user div i {
  margin-right: 0 !important;
}

.sidebar-user .user-name {
  font-weight: 600;
  text-transform: capitalize;
}

.sidebar-break {
  border-top: 1px solid var(--input-brdr);
  margin: 10px 0;
}

#sidebar .creator {
  text-align: center;
  margin-bottom: 18px;
  color: #81858E;
  font-size: 12px;
}

@media only screen and (max-width: 812px) {
  #sidebar {
    width: 300px;
  }
}

@media only screen and (max-width: 612px) {
  #sidebar {
    width: 280px;
  }
}

@media only screen and (max-width: 500px) {
  #sidebar {
    width: 240px;
  }
  .sidebar-header {
    padding: 22px 0;
  }
  #sidebar .app-name {
    font-size: 20px;
  }
  #sidebar li {
    font-size: 12px;
    padding: 12px 12px;
    border-radius: 12px;
  }
  #sidebar .sidebar-tasks svg {
    width: 17px;
  }
  #sidebar li svg {
    width: 18px !important;
    margin-right: 8px;
    margin-left: 0px;
  }
  #sidebar .task-count {
    font-size: 12px;
    height: 18px;
    width: 24px;
    border-radius: 11px;
  }
  #sidebar li i {
    font-size: 16px;
    margin-right: 9px;
  }
  .sidebar-settings {
    padding: 15px 12px !important;
  }

  .sidebar-user div {
    font-size: 25px;
    height: 35px;
    width: 35px;
  }
  .sidebar-user .letter {
    font-size: 22px;
  }
  #sidebar .creator {
    font-size: 10px;
  }
}
